/* My Calendar */
.mc-main
	th
		background rgba(naranja 0.8)
	tr
		td
			padding 6px!important
			.mc-date
				background none!important
			&.nextmonth
				opacity 0
			&.current-day
				.mc-date
					background none!important
					color naranja!important
			&.has-events
				.mc-date
					color green
					bottom 0
	caption
		background rgba(naranja, 0.8)
		text-align center
	.mc_bottomnav
		background none
		margin-top -31px
		padding 0 5px
		.my-calendar-nav
			width 100%
			ul
				width 100%
				.my-calendar-prev
					float left
				.my-calendar-next
					float right

