/*
	Theme Name: MTB
	Theme URI:
	Description: Plantilla para el club MTB
	Version: 1.0
	Author: Gonzalo Ribera (@kune_)
	Author URI: http://kune.es
	Tags:  HTML5, CSS3, bike, mtb, club

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "kouto-swiss"
normalize()
@import "_vars.styl"
@import "_calendar.styl"
//@import "_helpers.styl"
@import "_fonts.styl"
box-sizing-reset()

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before
	box-sizing:border-box
	font-smoothing:antialiased
	text-rendering:optimizeLegibility
/* html element 62.5% font-size for REM use */
html
	//font-size:62.5%
body
	font:300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif
	color:#444
/* clear */
.clear
	&:before,
	&:after
		content:' '
		display:table
.clear
	&:after
		clear:both
.clear
	*zoom:1
img
	max-width:100%
	vertical-align:bottom
a
	color:#444
	text-decoration:none
	&:hover
		color:#444
	&:focus
		outline:0
	&:hover,
	&:active
		outline:0
input:focus
	outline:0
	border:1px solid #04A4CC
.animsition-overlay-slide
	z-index 52
	background-color naranja
.texto-destacado
	font-weight bold
h1,
.titular
	background-image url('img/bg-green.png')
	background-position center center
	background-repeat repeat-x
	color #d4771e
	font-size 34px
	font-weight normal
	text-align center
	span
		padding 0 25px
		background-color #ffffff

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


/** GRID **/
[class*='grid']
	position relative
	padding 10px

@media only screen and (min-width: 768px)
	[class*='grid']
		float left
	.grid2-3
		width 66.6%
	.grid1-3
		width 33.3%
	.grid2-4
		width 50%
	.grid1-4
		width 25%

.entrada
	[class*='grid']
		float left
	.grid1-3
		width 33.3%
	.grid2-3
		width 66.6%

/* wrapper */
.wrapper
	max-width:1100px
	width:95%
	margin:0 auto
	position:relative
/* header */
.header
	position relative
	z-index 51
.navegacion
	position: relative
	z-index: 1

@media only screen and (min-width:992px)
	.navegacion
		background-color rgba(0,0,0,0.5)
		height: 103px
		margin-top: 6px


.imagenFondo
	background-size cover
	background-position center
	height 160px
	left 0
	position absolute
	top 0
	width 100%
	@media only screen and (min-width mw-m)
		height 300px

/* logo */
.logo
	display block
	margin 0 auto
	text-align left
	.logo-img
		width 100%
		max-width 75px
		height auto

@media only screen and (min-width: 992px)
	.logo
		width 246px
		float left
		.logo-img
			width 100%
			max-width 220px
			height auto


/* nav */

.nav
	display none
.slicknav_btn
	&.slicknav_open
		background-color naranja
.slicknav_menu
	background none
	position absolute
	z-index 101
	right 0
	&.open-slicknav
		background rgba(0, 0, 0, .75)
	.slicknav_btn,
	.slicknav_nav
		margin-bottom 10px
	.slicknav_nav
		a
			font-size 1.2rem
			font-weight bold
			&:hover
				background-color naranja
				color white

@media only screen and (min-width:992px)
	.slicknav_menu
		display none
	.nav
		display block
		width: 540px
		float: right
		ul
			list-style: none
			margin: 0
			padding: 0
			height: 103px
			li
				float: left
				padding: 0 15px
				height: 100%
				line-height: 103px
				transition all .6s ease
				cursor pointer
				&.current_page_item,
				&:hover
					background-color: naranja
				a
					font-size:14px
					font-weight: bold
					color: #ffffff
					text-transform: uppercase

/*---------------------------------- SOCIAL ----------------------------------*/
.social
	list-style none
	margin 5px 0
	padding 0
	li
		display inline-block
@media only screen and (min-width 768px)
	.social
		.whatsapp
			display none
/* Contenido */
.page
	main
		margin-top 100px
		@media only screen and (min-width mw-m)
			margin-top 240px
		@media only screen and (min-width mw-l)
			margin-top 140px

/* sidebar */
.sidebar-widget
	h3
		color #d4771e
		font-size 24px
		font-weight normal
		text-align center
//.sidebar

/* footer */
.footer
	background-color #323232
	border-top 6px solid naranja
	color #ffffff
	display flex
	flex-direction column
	padding 0

.footer .widgets .columna3
	float left
	width 25%
.footer p.copyright
	text-align center

.social-links
	list-style none
	flex 0
	margin 0
	padding 10px 0
	text-align center
	background white
	li
		display inline-block
		margin  0 10px
		a
			display block
			font-size 30px
			img
				width 100%
		&.link-facebook
			a
				color color-facebook
		&.link-instagram
			a
				color color-instagram
		&.link-mail
			a
				color naranja

.legal-footer
	flex  2 0 auto


/*------------------------------------*\
    PAGES
\*------------------------------------*/
/** PRINCIPAL */

.home-slider
	margin-top -60px
	.bx-wrapper,
	.bx-viewport
		border: none
		box-shadow: none
		left: 0
		overflow visible!important
	.bx-wrapper
		margin 0 auto
		min-height 200px
		.bx-prev
			background-position 0 10px
			left 0
		.bx-next
			background-position -43px 10px
			right 0
		.bx-controls-direction a
			height 84px
			width 44px
			transform scale(0.5)
		img
			width auto !important
			height auto
			min-height 200px
			min-width 100% !important
			max-width auto !important
	.slider
		margin 0
		padding 0
		li
			position relative
			.info-slider
				background-color rgba(naranja, 0.6)
				height 40px
				margin-top -40px
				padding 0 10%
				position absolute
				width 100%
				z-index 1
				a
					color white!important
					text-transform none
				h3
					margin 0
					text-transform uppercase
					font-size 14px
					line-height 2.5
				p
					display none
		.view-article
			text-decoration underline

@media only screen and (min-width:992px)
	.home-slider
		margin-top -175px
		.bx-wrapper
			.bx-controls-direction
				a
					height 84px
					width 44px
		.slider
			li
				.info-slider
					padding 10px 100px
					margin-top -100px
					height 100px
					p
						display block
						margin 0

.quehacemos
	background rgba(234,234,234,0.5)
	padding 10px 0
	.destacados
		border-bottom 1px solid #df7900
		&:last-child
			border none
		.imagen
			transform rotate(0deg)
			float left
			max-width 25%
		.info-destacado
			max-width 75%
			display inline-block
			padding 0 10px
			h5
				margin 0 0 10px

@media only screen and (min-width 768px)
	.quehacemos
		.destacados
			border none
		.destacados
			&:after
				content ""
				background #df7900
				width 1px
				height 100px
				position absolute
				right 10px
				top 10px
			&:last-child
				&:after
					width 0
			.imagen
				transform rotate(0deg)
				float left
				max-width 25%

			.info-destacado
				max-width 75%
				display inline-block
				padding-left 10px
				h5
					margin 0 0 10px

.rutas-destacadas
	.rutas
		padding 20px



/** EFECTO POLAROID */
div.foto
	background-color #ffffff
	box-shadow 0 3px 6px rgba(0,0,0,.25)
	display block
	float left
	margin 0
	padding 5px
	transform rotate(-10deg)
	width auto
	&:nth-child(even)
		transform rotate(10deg)
		margin-top -70px
.fotografia
	box-shadow 0 3px 6px rgba(0,0,0,.25)
	height auto
	width 100%
.imagen-destacada
	position relative
	.mas-info
		position absolute
		top 10px
		right -19px
.info-ruta
	background-color #323232
	height 60px
	padding 10px
	a
		color white
		font-size 20px
.destacados
	.info-destacado
		width 100%



////////////////////////// ENTRADAS ////////////////////////////////////////////
.entrada
	.foto
		transform rotate(0deg)
	&.destacada
		.foto
			transform rotate(-2deg)
	a
		color naranja
		font-weight bold
	h2
		margin 0
		font-size 16px
		line-height 1.3

/////////////////////////////// SINGLE /////////////////////////////////////////
.single-post
	a
		font-weight bold
		color naranja
	div.foto
		transform rotate(0deg)!important
		margin-top 0

.info-post
	text-align right
	padding 15px 5px 0 0
	@media only screen and (min-width mw-m)
		padding-right 50px

////////////////////////////// FORMULARIO //////////////////////////////////////
.wpcf7-form
	width 90%
	margin 0 auto
	input,
	textarea
		border 1px solid #c0c0c0
		border none
		border-radius 5px
		box-shadow inset 0 0 10px #e1e1e1
		height 30px
		width 100%
	textarea
		height 300px
	.wpcf7-submit
		background naranja
		box-shadow none
		text-align center
		padding 5px 20px
		color white
		font-weight bold
		border none
		text-transform uppercase
		width auto

@media only screen and (min-width: 768px)
	.wpcf7-form
		width 40%



//////////////////////// PAGINACION ///////////////////////////////////
.paginacion
	list-style none
	margin: 0
	padding: 0
	float right
	li
		float left
		padding 0 10px
		a
			font-weight bold
			color naranja

/*------------------------------------*\
    IMAGES
\*------------------------------------*/


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

// @media only screen and (min-width:320px) {

// }
// @media only screen and (min-width:480px) {

// }
// @media only screen and (min-width:768px) {

// }
// @media only screen and (min-width:1024px) {

// }
// @media only screen and (min-width:1140px) {

// }
// @media only screen and (min-width:1280px) {

// }
// @media only screen and (-webkit-min-device-pixel-ratio:1.5),
// 	   only screen and (min-resolution:144dpi) {

// }

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-webkit-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-moz-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0
}
.aligncenter,
div.aligncenter {
	display:block
	margin:5px auto 5px auto
}
.alignright {
	float:right
	margin:5px 0 20px 20px
}
.alignleft {
	float:left
	margin:5px 20px 20px 0
}
a img.alignright {
	float:right
	margin:5px 0 20px 20px
}
a img.alignnone {
	margin:5px 20px 20px 0
}
a img.alignleft {
	float:left
	margin:5px 20px 20px 0
}
a img.aligncenter {
	display:block
	margin-left:auto
	margin-right:auto
}
.wp-caption {
	background:#FFF
	border:1px solid #F0F0F0
	max-width:96%
	padding:5px 3px 10px
	text-align:center
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0
}
.wp-caption.alignright {
	margin:5px 0 20px 20px
}
.wp-caption img {
	border:0 none
	height:auto
	margin:0
	max-width:98.5%
	padding:0
	width:auto
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px
	line-height:17px
	margin:0
	padding:0 4px 5px
}
// .sticky {

// }
// .bypostauthor {

// }