/*
	Theme Name: MTB
	Theme URI:
	Description: Plantilla para el club MTB
	Version: 1.0
	Author: Gonzalo Ribera (@kune_)
	Author URI: http://kune.es
	Tags:  HTML5, CSS3, bike, mtb, club

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "kouto-swiss"
normalize()
@import "_vars.styl"
@import "_calendar.styl"
//@import "_helpers.styl"
box-sizing-reset()

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before
	box-sizing:border-box
	font-smoothing:antialiased
	text-rendering:optimizeLegibility
/* html element 62.5% font-size for REM use */
html
	//font-size:62.5%
body
	font:300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif
	color:#444
/* clear */
.clear
	&:before,
	&:after
		content:' '
		display:table
.clear
	&:after
		clear:both
.clear
	*zoom:1
img
	max-width:100%
	vertical-align:bottom
a
	color:#444
	text-decoration:none
	&:hover
		color:#444
	&:focus
		outline:0
	&:hover,
	&:active
		outline:0
input:focus
	outline:0
	border:1px solid #04A4CC
.animsition-overlay-slide
	z-index 52
	background-color naranja


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


/** GRID **/
[class*='grid']
	position relative
	padding 10px

@media only screen and (min-width: 768px)
	[class*='grid']
		float left
	.grid2-3
		width 66.6%
	.grid1-3
		width 33.3%
	.grid2-4
		width 50%
	.grid1-4
		width 25%

.entrada
	[class*='grid']
		float left
	.grid1-3
		width 33.3%
	.grid2-3
		width 66.6%

/* wrapper */
.wrapper
	max-width:1100px
	width:95%
	margin:0 auto
	position:relative
/* header */
.header
	position relative
	z-index 51
.navegacion
	background-color rgba(0,0,0,0.5)
	position: relative
	z-index: 1

@media only screen and (min-width:992px)
	.navegacion
		height: 103px
		margin-top: 6px


.imagenFondo
	background-size: cover
	background-position center
	height: 300px
	left: 0
	position: absolute
	top: 0
	width: 100%

/* logo */
.logo
	display block
	margin 0 auto
	text-align center
.logo-img
	width 100%
	max-width 250px
	height auto

@media only screen and (min-width: 992px)
	.logo
		width 246px
		float left


/* nav */

.nav
	display none
.slicknav_btn
	&.slicknav_open
		background-color naranja
.slicknav_menu
	background none
	position absolute
	z-index 101
	right 0
	&.open-slicknav
		background rgba(0, 0, 0, .75)
	.slicknav_btn,
	.slicknav_nav
		margin-bottom 10px
	.slicknav_nav
		a
			font-size 1.2rem
			font-weight bold
			&:hover
				background-color naranja
				color white

@media only screen and (min-width:992px)
	.slicknav_menu
		display none
	.nav
		display block
		width: 540px
		float: right
		ul
			list-style: none
			margin: 0
			padding: 0
			height: 103px
			li
				float: left
				padding: 0 15px
				height: 100%
				line-height: 103px
				transition all .6s ease
				cursor pointer
				&.current_page_item,
				&:hover
					background-color: naranja
				a
					font-size:14px
					font-weight: bold
					color: #ffffff
					text-transform: uppercase

/* Contenido */
.page main
	margin-top: 200px

/* sidebar */
//.sidebar

/* footer */
.footer
	background-color: #323232
	border-top: 6px solid naranja
	padding: 20px 0
	color: #ffffff

.footer .widgets .columna3
	float: left
	width: 25%
.footer p.copyright
	text-align: center


/*------------------------------------*\
    PAGES
\*------------------------------------*/
/** PRINCIPAL */

@media screen and (min-width:992px)
	section.slider
		margin-top: -118px

ul.slider
	margin:0
	padding:0
	li
		position relative
		.info-slider
			background-color rgba(naranja, 0.6)
			padding 0 10%
			margin-top -30px
			position absolute
			z-index: 1
			height 40px
			width 100%
			a
				color white!important
				text-transform none
			h3
				margin: 0
				text-transform uppercase
			p
				display none
@media screen and (min-width:992px)
	ul.slider
		li
			.info-slider
				padding 10px 100px
				margin-top -100px
				height 100px
				p
					display block
.bx-wrapper
	margin 0 auto
	.bx-controls-direction a
		height: 84px
		width: 44px
.bx-wrapper,
.bx-viewport
	border: none
	box-shadow: none
	left: 0
	overflow visible!important

.bx-wrapper .bx-prev,
.bx-wrapper .bx-prev:hover
	background-position: 0 10px
	left: 30px


.bx-wrapper .bx-next,
.bx-wrapper .bx-next:hover
	background-position: -43px 10px
	right: 30px

h1
	color: #d4771e
	font-size: 34px
	text-align: center
	background-image: url(img/tituloBG.png)
	background-repeat: repeat-x
	background-position: center center
	font-weight: normal

h1 span
	padding: 0 25px
	background-color: #ffffff

/** EFECTO POLAROID */
div.foto
	background-color: #ffffff
	display: block
	float: left
	width: auto
	margin: 0 00 27px 30px
	padding: 10px 10px 15px 10px
	box-shadow: 0 3px 6px rgba(0,0,0,.25)
	transform: rotate(-10deg)
div.foto:nth-child(even)
	transform: rotate(10deg)
	margin-top: -70px
.fotografia
	box-shadow: 0 3px 6px rgba(0,0,0,.25)
	width: 100%
	height: auto
.imagen-destacada
	position relative
	.mas-info
		position absolute
		top 10px
		right -19px
.info-ruta
	background-color #323232
	height 60px
	padding 10px
	a
		color white
		font-size 2rem
.destacados
	.info-destacado
		width 100%
.quehacemos
	.imagen
		transform rotate(0deg)


////////////////////////// ENTRADAS ////////////////////////////////////////////
.entrada
	.foto
		transform rotate(0deg)
	&.destacada
		.foto
			transform rotate(-2deg)
	a
		color naranja
		font-weight bold
	h2
		margin: 0

/////////////////////////////// SINGLE /////////////////////////////////////////
.single-post
	a
		font-weight bold
		color naranja
	div.foto
		transform rotate(0deg)!important
		margin-top 0

////////////////////////////// FORMULARIO //////////////////////////////////////
.wpcf7-form
	width 90%
	margin 0 auto
	input,
	textarea
		border 1px solid #c0c0c0
		border none
		border-radius 5px
		box-shadow inset 0 0 10px #e1e1e1
		height 30px
		width 100%
	textarea
		height 300px
	.wpcf7-submit
		background naranja
		box-shadow none
		text-align center
		padding 5px 20px
		color white
		font-weight bold
		border none
		text-transform uppercase
		width auto

@media only screen and (min-width: 768px)
	.wpcf7-form
		width 40%



//////////////////////// PAGINACION ///////////////////////////////////
.paginacion
	list-style none
	margin: 0
	padding: 0
	float right
	li
		float left
		padding 0 10px
		a
			font-weight bold
			color naranja

/*------------------------------------*\
    IMAGES
\*------------------------------------*/


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

// @media only screen and (min-width:320px) {

// }
// @media only screen and (min-width:480px) {

// }
// @media only screen and (min-width:768px) {

// }
// @media only screen and (min-width:1024px) {

// }
// @media only screen and (min-width:1140px) {

// }
// @media only screen and (min-width:1280px) {

// }
// @media only screen and (-webkit-min-device-pixel-ratio:1.5),
// 	   only screen and (min-resolution:144dpi) {

// }

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-webkit-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-moz-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0
}
.aligncenter,
div.aligncenter {
	display:block
	margin:5px auto 5px auto
}
.alignright {
	float:right
	margin:5px 0 20px 20px
}
.alignleft {
	float:left
	margin:5px 20px 20px 0
}
a img.alignright {
	float:right
	margin:5px 0 20px 20px
}
a img.alignnone {
	margin:5px 20px 20px 0
}
a img.alignleft {
	float:left
	margin:5px 20px 20px 0
}
a img.aligncenter {
	display:block
	margin-left:auto
	margin-right:auto
}
.wp-caption {
	background:#FFF
	border:1px solid #F0F0F0
	max-width:96%
	padding:5px 3px 10px
	text-align:center
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0
}
.wp-caption.alignright {
	margin:5px 0 20px 20px
}
.wp-caption img {
	border:0 none
	height:auto
	margin:0
	max-width:98.5%
	padding:0
	width:auto
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px
	line-height:17px
	margin:0
	padding:0 4px 5px
}
// .sticky {

// }
// .bypostauthor {

// }